
html {
  background:url('https://img.freepik.com/free-photo/wooden-background_24972-623.jpg?size=626&ext=jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

