.flex-container {
    display: flex;
    justify-content: center;
}
.flex-item {
    background: oliue;
    margin: 5px;
    color: white;
    /* Based on the given instruction height and width of flex item are set to 70px */
    height:70px;
    width:70px
}
